@model Report_a_Fault.Models.Fault

@{
    ViewData["Title"] = "ReportFault";
    Layout = "_AdminLayout";
}

@for (var i = 0; i < 5; i++)
{
    <div></div>
    <br />
}
<h1 class="heading-tetiary">REPORT NEW FAULTS</h1>
<h7 class="subheading">NOTE : YOU CAN ONLT REPORT ONE FAULT PER COMPUTER , YOU CAN NOT SEND REPORT OF THE COMPUTER THAT HAS BEEN REPORTED TO HAVE FAULTS</h7>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="ReportFault">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="computerId" hidden class="form-control" />
            <input asp-for="StudentEmail" hidden class="form-control" />
            <input asp-for="Id" hidden class="form-control" />
        
            <div class="form-group">
                <strong>
                    <label class="control-label"> DESCRIPTION</label>
                </strong>
                <div></div>
                <br />
                <input asp-for="FaultDescription" class="form-control" />
                <span asp-validation-for="FaultDescription" class="text-danger"></span>
            </div>
            <div></div>
            <br />
            <div class="form-group">
                <input type="submit" value="REPORT" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
